<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Distributor Application Settings</comment>
<entry key="TRANSATRON_API_ENDPOINT">https://api.node.transatron.io:8443</entry>
<entry key="TRON_JSONRPC_ENDPOINT">https://api.trongrid.io</entry>
<entry key="TRON_GRID_API_KEY">YOUR_API_KEY</entry>
</properties>
